@model System.String
@{
    ViewBag.Title = "PreviewPDF";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container mt-5">
        <a href="@Model.ToString()">Content</a>
        <text>@Model.ToString()</text>
    </div>

